main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container{
    height: 10em;
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image{
    height: 50%;
}